<!DOCTYPE html>
<html>

<body>

    <h1>Cloud Computing Final Project</h1>
    <p>Hello everyone, this page is for Robert Dilks's Cloud Computing Project.</p>
    <p>The goal of the project is to use a submission from a text box to display a message on a device connected to my Raspberry Pi's GPIO pins. As this project is developed it should be able to handle small entries.

<form action="#" method= 'POST'>
    <label for="fstring">Hit the buttons to turn on or off the light:</label><br>
    <input type="submit" name="submit" value = "On">
    <input type="submit" name="submit" value = "Off">
</form>
</body>
</html>